<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166969531699-mrok1gqkpit30jhkd7epha83vvcj8vcj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166969531699-mrok1gqkpit30jhkd7epha83vvcj8vcj</string>
	<key>API_KEY</key>
	<string>AIzaSyCe9-k2u5sTukzlnqZTJ2z8PNkg6aBEhvc</string>
	<key>GCM_SENDER_ID</key>
	<string>166969531699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-f4334</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-f4334.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166969531699:ios:46dc89f26453952e92f246</string>
</dict>
</plist>